<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Retro Store - 8-Bit Emporium</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RetroStoreMVC2.styles.css" asp-append-version="true" />
    <link href="css/styles.css" rel="stylesheet"/>

</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top" id="mainNav">
        <div class="container">
            @*<a class="navbar-brand" href="#page-top"><img src="assets/img/TeamLogo.svg" alt="..." /></a>*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">About Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Weekly Top 6</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="ViewProducts">Shop Select Titles</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#team">Our Team </a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position:relative; bottom:0px" class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - RetroStoreMVC2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

